$breakpoints: (
  small: 0,
  medium: 769px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1600px
) !default;

@function breakpoint-has($name) {
  @return map-has-key($breakpoints, $name);
}

@function breakpoint-get($breakpoint) {
  @if (breakpoint-has($breakpoint)) {
    @return map-get($breakpoints, $breakpoint);
  } @else {
    @warn '#{$breakpoint} is not a set breakpoint variable';
    @return null;
  }
}

@function breakpoint-step($from, $to: null) {
  $map: (min-width: breakpoint-get($from));

  @if ($to and breakpoint-has($to)) {
    $map: map-merge((max-width: breakpoint-get($to) - 0.1px), $map);
  }

  @return $map;
}

@function breakpoint-next-step($from) {
  @return breakpoint-step($from, flexy-map-next-key($breakpoints, $from));
}

@mixin breakpoint($breakpoint, $screen: 'only screen') {
  @if breakpoint-has($breakpoint) {
    $map: (min-width: breakpoint-get($breakpoint));

    @include media($map, $screen) {
      @content;
    }
  } @else {
    @warn '#{$breakpoint} is not a set breakpoint variable';
  }
}

@mixin breakpoint-limit($from, $to: null, $screen: 'only screen') {
  @include media(breakpoint-step($from, $to), $screen) {
    @content;
  }
}
